<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912621917226-ajnj53vsr2q11ikd6osla0aog9e4p2u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912621917226-ajnj53vsr2q11ikd6osla0aog9e4p2u3</string>
	<key>API_KEY</key>
	<string>AIzaSyA7oqj7io7ixjnxba8TWqS1H7rpz-RkikE</string>
	<key>GCM_SENDER_ID</key>
	<string>912621917226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyang.nyangCoach</string>
	<key>PROJECT_ID</key>
	<string>nyangcoach</string>
	<key>STORAGE_BUCKET</key>
	<string>nyangcoach.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912621917226:ios:b86b41359211a272c69f53</string>
</dict>
</plist>